# Core
django==4.2.9
python-dotenv==1.0.1
str2bool==1.1

# UI 
django-admin-berry==1.0.10

# Deployment
whitenoise==6.6.0
gunicorn==21.2.0

# DB Layer
# psycopg2-binary
# mysqlclient

# Extra
asgiref==3.8.1
django-crispy-forms==2.3
chardet==5.2.0
crispy-bootstrap5==2024.10
packaging==24.2
pillow==11.1.0
reportlab==4.3.0
sqlparse==0.5.3
