{% extends 'layouts/auth_base.html' %}
{% load static %}

{% block title %} SignUp {% endblock title %}

{% block content %}
  <div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="card mt-5">
          <div class="card-body">
            <a href="#" class="d-flex justify-content-center mt-3">
              <img src="{% static 'assets/images/logo.png' %}" />
            </a>
            <div class="row">
              <div class="d-flex justify-content-center">
                <div class="auth-header">
                  <h2 class="text-secondary mt-5"><b>We are not accepting registrations at this time</b></h2>
                </div>
              </div>
            </div>
            
            <hr />
            <h5 class="d-flex justify-content-center">Already have an account? 
              <a class="ms-2" href="{% url 'login' %}">Login</a>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
