<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          &copy; Sovern Scrolls.
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/groups/SSLouisiana" target="_blank">Facebook LA Chapter</a></li>
          <li class="list-inline-item"><a target="_blank" href="https://www.facebook.com/groups/SovereignScrolls" target="_blank">Facebook TX Chapter</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
